figure{
    width: 233px
}

.deckContain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

.deck{
    
    height: 311px;
    width: 233px;
    border-radius: 3%;
}

.newDeck{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    border-style: dashed;
    background-color: aliceblue;
}

.newDeck:focus,:active{
    outline: none;
}

.newDeck:active{
    /* background-color: antiquewhite; */
    box-shadow: 2px 5px rgb(212, 208, 208);
}

.creationWrapper{
    display: flex;
    flex-direction: row;
}